body {
    text-align: center;
    font-family: "Chewy", cursive;
    background: linear-gradient(#0b9076, #ff96a4);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#steve-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #67e8b2;
    margin-bottom: 10px;
    margin-right: 10px;
   
}

#muffy-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid  #ff96a4;
    margin-bottom: 10px;
    margin-left: 10px;
}

#bday-age {
    background: #ff96a4;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #67e8b2;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/birthday-present.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy-cat.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot-cat.gif");
}

#gift-img-lovable:hover {
    background-image: url("images/lovable-cat.gif");
}

#gift-img-cool:hover {
    background-image: url("images/cool-cat.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers-cat.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/